body{
    background: scroll;
    background-color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
}


.all-button{
    align-items: center;
    margin-left: 30%;
    margin-top: 22.5%;

}


.login-button{
    margin-right: 50px;
    height: 5vh;
    width: 15vh;
    border: solid;
    border-color: rgb(56, 56, 255);
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(56, 56, 255);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    
}

.login-button:hover{
    opacity: 0.6;
    transition: 0.2s;
    box-shadow: 5px 5px 5px black;
}

.login-button:active{
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: white;
    transition: 0.2s;
}

.subscribe-button{
    margin-right:50px;
    height: 5vh;
    width: 20vh;
    border: none;
    border-radius: 2px;
    background-color: rgb(163, 3, 3);
    color: white;
    font-size: 18px;
    font-weight:normal;
    cursor: pointer;

}

.subscribe-button:hover{
    transition: 0.2s;
    opacity: 0.7;
    color: black;
}

.subscribe-button:active{
    transition: 0.2s;
    background-color: rgb(0, 29, 2);
    color: white;
    
}


.join-button{
    margin-right: 50px;
    height: 5vh;
    width: 8vh;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 234, 0);
    color: black;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    
}

.join-button:hover{
    transition: 0.15s;
    box-shadow:2px 2px 2px rgb(160, 150, 150);
}

.join-button:active{
    transition: 0.15s;
    opacity: 0.5;
}



.follow-button{
    height: 5vh;
    width: auto;
    color: white;
    font-size: 15px;
    font-weight: 400;
    background: rgb(132, 8, 132);
    border: solid;
    border-color:black;
    border-width: 1.5px;
    border-radius: 2px;
    cursor: pointer;
}

.follow-button:hover{
    transition: 0.15s;
    width: 10vh;
    
}

.follow-button:active{
    transition: 0.15s;
    color: rgb(132, 8, 132);
    background-color: white;
    box-shadow: 3px 3px 3px black;

}