body{
    background-color:rgb(180, 180, 180);
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px; 
}

.all-button{
   
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
    max-width: 600px; 
    margin: 0 auto; 
    width: 100%;
}

.all-button button {
    flex: 1 1 calc(50% - 10px); 
    height: 50px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    min-width: 120px; 
    border: none; 
}

.login-button{
    background-color: rgb(56, 56, 255);
    color: rgb(255, 255, 255);
}

.login-button:hover{
    opacity: 0.8;
    box-shadow: 3px 3px 8px rgba(56, 56, 255, 0.5);
}
.login-button:active{
    background-color: rgb(0, 0, 180);
}

.subscribe-button{
    background-color: rgb(163, 3, 3);
    color: white;
}

.subscribe-button:hover{
    opacity: 0.9;
    color: #eee;
}
.subscribe-button:active{
    background-color: rgb(120, 0, 0);
}

.join-button{
    background-color: rgb(255, 234, 0);
    color: black;
    font-weight: bolder;
    border-radius: 30px;
}

.join-button:hover{
    box-shadow: 0 0 10px rgba(255, 234, 0, 0.8);
}
.join-button:active{
    opacity: 0.8;
}

.follow-button{
    background: rgb(132, 8, 132);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
}

.follow-button:hover{
    background-color: white;
    color: rgb(132, 8, 132);
    box-shadow: 0 0 8px rgba(132, 8, 132, 0.5);
}
.follow-button:active{
    background-color: rgb(100, 5, 100);
    color: white;
    box-shadow: none;
}

@media (min-width: 768px) {
    .all-button {
        max-width: 1000px;
    }
    .all-button button {
        flex: 1 1 calc(25% - 15px); 
    }
}
